---
import { type CollectionEntry, getCollection, render } from "astro:content";

type Props = {
  entry: CollectionEntry<"blog">;
};

// Get the requested entry
const { entry } = Astro.props;
const { Content } = await render(entry);

// Get the next and prev entries (modulo to wrap index)
const items = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
const index = items.findIndex((x) => x.id === entry.id);
const prev = items[(index - 1 + items.length) % items.length];
const next = items[(index + 1) % items.length];
const prevSlug = prev.id.replace(/\/index$/, "");
const nextSlug = next.id.replace(/\/index$/, "");
---

<div>
  <article>
    <Content />
  </article>

  <div style="padding: 1rem;">
    <script
      src="https://giscus.app/client.js"
      data-repo="YieumYoon/YieumYoon.github.io"
      data-repo-id="R_kgDOMFPW6g"
      data-category="Announcements"
      data-category-id="DIC_kwDOMFPW6s4Cf82h"
      data-mapping="pathname"
      data-strict="0"
      data-reactions-enabled="1"
      data-emit-metadata="0"
      data-input-position="top"
      data-theme="noborder_light"
      data-lang="en"
      data-loading="lazy"
      crossorigin="anonymous"
      async></script>
  </div>

  <div class="grid grid-cols-1 gap-6 border-t border-black/10 pt-8 dark:border-white/15 sm:grid-cols-2">
    <a
      href={`/blog/${prevSlug}`}
      class="group block"
    >
      <div class="space-y-2">
        <div class="text-sm uppercase text-black/45 dark:text-white/45">Previous</div>
        <div class="font-semibold text-black dark:text-white group-hover:underline group-hover:decoration-[.5px] group-hover:underline-offset-4">
          {prev.data.title}
        </div>
      </div>
    </a>
    <a
      href={`/blog/${nextSlug}`}
      class="group block sm:text-right"
    >
      <div class="space-y-2">
        <div class="text-sm uppercase text-black/45 dark:text-white/45">Next</div>
        <div class="font-semibold text-black dark:text-white group-hover:underline group-hover:decoration-[.5px] group-hover:underline-offset-4">
          {next.data.title}
        </div>
      </div>
    </a>
  </div>
</div>
