---
import type { CollectionEntry } from "astro:content"
import { formatDate, readingTime } from "@lib/utils"

type Props = {
  entry: CollectionEntry<"blog">
}

const { entry } = Astro.props
const { data, body } = entry
const { title, summary, date, updatedDate } = data
---

<div>
  <a href="/blog" class="text-sm underline decoration-[.5px] decoration-black/25 dark:decoration-white/50 hover:decoration-black dark:hover:decoration-white text-black/70 dark:text-white/70 underline-offset-2 blend">
    All posts
  </a>
  <div class="flex flex-wrap text-sm uppercase mt-12 gap-3 opacity-75">
    <div class="flex items-center gap-2">
      <svg class="size-5 stroke-current">
        <use href="/ui.svg#calendar"/>
      </svg>
      {formatDate(date)}
    </div>
    {updatedDate && (
      <div class="flex items-center gap-2">
        <svg class="size-5 stroke-current">
          <use href="/ui.svg#refresh-cw"/>
        </svg>
        Updated {formatDate(updatedDate)}
      </div>
    )}
    <div class="flex items-center gap-2">
      <svg class="size-5 stroke-current">
        <use href="/ui.svg#book-open"/>
      </svg>
      {readingTime(body ?? "")}
    </div>
  </div>
  <h1 class="text-3xl font-semibold text-black dark:text-white mt-2">
    {title}
  </h1>
  <div class="mt-1">
    {summary}
  </div>
</div>
